# Required Telegram bot credentials
TOKEN=8680288058:AAHP2oL1S_liMy867FJrlf0UKi3rTNLj5n8
API_ID=39930006
API_HASH=0c1afd87f1a69d0e9a8b06b779480f51
DB_URL=mongodb+srv://saranjaat9694:saranjaat435@cluster0.ofptc9e.mongodb.net/?appName=Cluster0
DB_URL2=mongodb+srv://maanavego:maanavego7077@axiom.udf4gdo.mongodb.net/?appName=Axiom
USER_STRING=AQGqhw0AoyPR-W0eFMplLIQRksjIjjwIABX4DN4kBz8iyXoseHNCMTQmnedxABKEKxHkG9-k_iLUeOtNvKbCiqakO8kFJJ8nor-1ADQyxfqdjfAjt5AD-KWCloJPSwYv_UzwJF7R0M7_wc6t56m5ifsX5MydRRS__cSkAgImFsgWDYP3qN3pGJRdRkJGcv4EDKtlD-xKFak9l8K3X6r6fTu10esRRzHDbCxjaJkgTv8W2JoB8ErbFX_ro48xNjIVmaQwcBiSBbZS0pTReEAxrKDQ5XyRC8Gfuf2PwvgJ84MMi_el-lVMqcdvq2A8JCIvJVvRjAw4aXz4iJWHK38wOsGw5noAXAAAAAHWDS7nAA
BOT_USERNAME=@vcXmnvbot
BOT_NAME=AxiomX
OWNER_ID=8871937776
AXIOM_OWNER_ID=8871937776
SUDO_USERS=7169279112 8773888974
SUPPORT_USERS=
WHITELIST_USERS=
DEV_LIST=7169279112
LOG_GROUP_ID=-1003991995988
LOGS_CHANNEL=-1003991995988
SUPPORT_CHAT=@axlomm
SUPPORT_GROUP=@axlomm
UPDATE_CHANNEL=@axiombots
IS_WEB_SUP=True
WEB_SERVER_BIND_ADDRESS=0.0.0.0
WEB_URL=
WEB_SLEEP=240
MULTI_CLIENT=False
PREFIX=True

# Optional feature API keys
ELEVENLABS_API_KEY=sk_b44b4767f9a664b11d85711409d35b520e9ecdb389a29803
IMAGE_UPLOAD_KEY=
GROQ_API_KEY=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
GEMINI_API_KEY=AQ.Ab8RN6KighJIeBYX55N7x-HlfCoqc_knIRtJgTdZCnWaEPGMYQ
MONSTER_API_KEY=Bearer
REPLICATE_API_TOKEN=your_replicate_token
GIST_TOKEN=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
TELEGRAPH_TOKEN=80e1635aa3308ef9c583dac805436c1b5dc5995ce11d5fceb136650eb77f
